/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial',
    sans-serif;
}
/* NavBar style */
.navbar {
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}
.navbar-links {
    list-style: none;
    display: flex;
}
.navbar-links li {
    margin-left: 20px;
}
.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navbar-links a:hover {
    color: #ddd;
}
/* Mobile Menu Toggle */
.navbar-checkbox {
    display: none;
}
/* Content styles */
.content {
    padding: 20px;
    flex-grow: 1;
}
/* Responsive Design */
@media (max-width: 768px) {
    .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
        }
.navbar-links li {
margin: 10px 0;
        }
.navbar-checkbox:checked +navbar-toggle + .navbar-links {
    display: flex;
        }
}